.idea/misc.xml
.idea/modules.xml
.idea/text-analysis-python.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
lenta_news_2020_analysis
/picture
sql_db/word_rank.db
.gitignore
word_rank.db
sql_db/csvdata.csv
words_csv
cloudtest.py
.vscode